/*==========================
   Colour Scheme:

      #363538 -dark grey
      #03989E -blue
      #8D8C8A -light grey
      #F6F6F6 -white
============================*/


/*==========================
   BODY
============================*/
body{
   margin: 0;
   
   min-height: 100vh;
   background: #363538; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}


@media(min-width: 40em){

}


/*==========================
   HEADER
============================*/
#header{
   text-align: center;
   
}

#header .hello{
   font-size: 3em;
   margin-bottom: -2em;
   color: #F6F6F6;
   font-weight: bold;
   line-height: 1em;
}
 
#header .name-highlight{
   font-size: 2em;
   font-weight: bolder;
   line-height: 1em;       
   background:transparent;
   background-color: transparent;
   background: linear-gradient(#900C3F,#C70039,#FF5733,#FFC300);
   /* Set thee background size and repeat properties. */
   background-size: 20%;
   background-repeat: repeat;
   /* Use the text as a mask for the background. */
   /* This will show the gradient as a text color rather than element bg. */
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;  
   -moz-text-fill-color: transparent;  
   animation: name-gradient-animation 15s ease forwards;
}
 
/* Move the background and make it smaller.*/
/* Animation shown when entering the page.*/
@keyframes name-gradient-animation {
0% {
   background-size: 57%;
   background-position: 0 0;
}
20% {
   background-size: 57%;
   background-position: 0 0.7em;
}
100% {
   background-size: 300%;
   background-position: -7em 0.7em;
}
}
 
#header .btn-view-cv{ 
   margin-top: 10em;
   border: solid #F6F6F6 0.125em;
   padding: 0.625em 2em;  
   display:inline-block;
   position: relative;
   z-index: 0;
   color: #F6F6F6;
   font-size: 1.25em;
   text-align: center;
   text-decoration: none;
   overflow: hidden;
   background-color: transparent;
}
 
/*button animation*/
#header .btn-view-cv:hover{
   transition: 1s;
}

/*==========================
   Navbar
============================*/
nav{
   mask-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
   outline: none;
   overflow: hidden;
   padding: 60px 0;
}

nav ul{
   background: linear-gradient(90deg rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
   box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
   outline: none;
   text-align: center;  
}

nav ul li{
   display: inline-block;
}

nav ul li a{
   padding: 18px;
   text-transform:uppercase;
   font-weight: bold;
   color: #03989E;
   font-size: 18px;
   text-decoration: none;
   display: block;
   outline: none;
}

#navbar ul li a:hover{
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
   background: rgba(255, 255, 255, 0.1);
   color: #03989E;
   
}

.sticky{
   position: fixed;
   top: 0;
}

.sticky+content{
   padding-top: 6.375em;
}


/*==========================
   CONTENT
============================*/
#profile, #background, #skills, #portfolio, #contact{
   margin-left: 4em;
   margin-right: 4em;
   margin-top: 2.5em;
   margin-bottom: 2.5em;
}


h1{ 
   text-align: center;
   padding: 2px;
   margin: 1em;
   color: #F6F6F6;
   text-transform: uppercase;
   font-size: 1.5em;
   line-height: 1.6em;
   border-bottom: 1px solid #F6F6F6;
   border-bottom-width: 100% ;
}

h2{
   text-align: center;
   padding: 2px;
   margin: 1em;
   color: #F6F6F6;
   text-transform: uppercase;
   font-size: 1em;
   line-height: 1em;
}

p, blockquote{
   text-align: center;
   color: #F6F6F6;
   font-size: 1em;
   line-height: 2em;
}

.p-traits-skills b{
   /*style*/
   color: #03989E;
}


/*==========================
   Profile
============================*/
#profile-wrapper{
   background: #F6F6F6;
   text-align: center;
}

.pcv-btn button, .ccv-btn button, .recommendation-btn button{ 
   display:flex;
   background-color: #03989E;
   border: solid #03989E 0.125em;
   color: #F6F6F6;
   display:inline-block;
   font-size: 1em;
   overflow: hidden;
   padding: 0.625em 2em;  
   position: relative;
   text-align: center;
   text-decoration: none;
}

/*==========================
   Background
============================*/





/*==========================
   Skills
============================*/




/*==========================
Portfolio
============================*/
/*editing data retrieved from github through API*/

.portfolio-carousel{
   padding: 2em;
   align-content: center;
}

.gw-repo-outer {
   align-items: center;
   width: 70%;
}

.gw-repo-outer:nth-child(2n + 1) {
   align-items: center;
}

.gw-repo {
   padding: 1em;
   margin: 0 1.5em 1em 0;
   border: 1px solid #F6F6F6;
}

.gw-repo:nth-child(2n) {
   margin: 1.5em;
}

.gw-title{
   margin-bottom: 0.3em;
}

.gw-name {
   font-weight: bold;
   color: #03989E;
   text-decoration: none;
   text-align: center;
}

.gw-stats {
   display: inline-block;
   margin: 0;
   float: right;
}

.gw-lang {
   font-size: 1em;
   color:#8D8C8A;
   text-align: center;
}

.gtw-repo-description{
   color: #F6F6F6;
   text-align: left;
}



.gw-name:hover{
   opacity: 40%;
}










/*==========================
  FOOTER
============================*/
/*social media*/
.fa {
   padding: 20px;
   font-size: 3em;
   width: 50px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
}

.fa:hover {
   opacity: 0.7;
}

.fa-linkedin {
   background: #03989E;
   color:  #F6F6F6;
}

.fa-github {
   background: #03989E;
   color: #F6F6F6;
}

.fa-skype {
   background: #03989E;
   color:  #F6F6F6;
}

.fa-reddit {
   background: #03989E;
   color:  #F6F6F6;
}








/*==========================
  Additional Features
============================*/
/*carousel properties*/



/*page scroll progress*/






 