#name{
  display:flex;

}

h1{
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 3em;
  float: center;

  width: 4em;
  line-height: 1em;
  letter-spacing: 5px;
  text-align: center;

  margin-right: auto;
  margin-left: auto;
  margin-top: 1,5em;
  margin-top: calc(50vh - 1em);
 
  text-align: justify;

  background:transparent;
  background-color: transparent;
  color: whitesmoke;

  

  
  

  
 
}


h2{
  /* Create a conic gradient. */
  /* Double percentages to avoid blur*/
  

  background:transparent;
  background-color: transparent;
  background: conic-gradient(
    #CA4246 16.666% solid transparent, 
    #E16541 16.666% solid transparent, 
    #E16541 33.333% solid transparent, 
    #F18F43 33.333% solid transparent, 
    #F18F43 50% solid transparent, 
    #8B9862 50% solid transparent, 
    #8B9862 66.666% solid transparent, 
    #476098 66.666% solid transparent, 
    #476098 83.333% solid transparent, 
    #A7489B 83.333% solid transparent);
    

  /* Set thee background size and repeat properties. */
  background-size: 20%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;    
  animation: name-conic-gradient-animation 3s ease forwards;
  
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes name-conic-gradient-animation {
   0% {
     background-size: -57%;
     background-position: 0 0;
   }
   20% {
     background-size: -57%;
     background-position: 0 0,8em;
   }
   100% {
     background-size: -300%;
     background-position: -9em 0,8em;
   }
 }



/*h2{

   
}


h3{

   
}

p{

}*/