#home{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing:antialiased;
  -webkit-font-smoothing: grayscale; 
}


.hello{
  color: whitesmoke;
  font-size: 3em;
  line-height: 1em;
  /*margin: px;*/
  margin-bottom: -2em;
}


.name-highlight
{
  font-size: 4em;
  line-height: 3em;
      
  background:transparent;
  background-color: transparent;
    background: linear-gradient(
      #900C3F,
      #C70039,
      #FF5733,
      #FFC300);

  /* Set thee background size and repeat properties. */
  background-size: 20%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;  
  -moz-text-fill-color: transparent;  
  animation: name-gradient-animation 10s ease forwards;

  /*text-shadow: -1px 1px 2px whitesmoke,
                1px 1px 2px whitesmoke,
                1px -1px 0 whitesmoke,
                -1px -1px 0 whitesmoke;*/

}


/* Move the background and make it smaller.*/
/* Animation shown when entering the page.*/
@keyframes name-gradient-animation {
  0% {
    background-size: -57%;
    background-position: 0 0;
  }
  20% {
    background-size: -57%;
    background-position: 0 1em;
  }
  100% {
    background-size: -300%;
    background-position: -9em 1em;
  }
}








